Repository hmcts/probate-caveats-frontend, pull requests merged in 2019-02, with the labels that each got.

#21 PRO-4645: Make deceased address mandatory (plus some reformatting etc)
  app/journeys/probate-caveats.js
  app/resources/en/translation/deceased/addressknown.json
  app/resources/en/translation/deceased/othernames.json
  app/steps/action/addAlias/index.js
  app/steps/action/removeAlias/index.js
  app/steps/ui/applicant/address/template.html
  app/steps/ui/applicant/email/template.html
  app/steps/ui/applicant/name/template.html
  app/steps/ui/contact/template.html
  app/steps/ui/cookies/template.html
  app/steps/ui/deceased/address/template.html
  app/steps/ui/deceased/addressknown/index.js
  app/steps/ui/deceased/addressknown/schema.json
  app/steps/ui/deceased/addressknown/template.html
  app/steps/ui/deceased/alias/template.html
  app/steps/ui/deceased/dob/template.html
  app/steps/ui/deceased/dobknown/template.html
  app/steps/ui/deceased/dod/template.html
  app/steps/ui/deceased/name/template.html
  app/steps/ui/deceased/otherNames/template.html
  app/steps/ui/deceased/othernames/index.js
  app/steps/ui/deceased/othernames/schema.json
  app/steps/ui/deceased/othernames/template.html
  app/steps/ui/endjourney/template.html
  app/steps/ui/privacy/template.html
  app/steps/ui/startpage/template.html
  app/steps/ui/summary/includes/deceased.njk
  app/steps/ui/summary/template.html
  app/steps/ui/terms/template.html
  app/views/widgets/textfields.html
  test/component/deceased/testAddressKnown.js
  test/component/deceased/testAlias.js
  test/component/deceased/testOtherNames.js
  test/component/summary/testDeceasedSection.js
  test/data/deceased.json
  test/end-to-end/pages/deceased/addressknown.js
  test/end-to-end/pages/deceased/alias.js
  test/end-to-end/pages/deceased/dobknown.js
  test/end-to-end/pages/deceased/othernames.js
  test/end-to-end/pages/endjourney/endjourney.js
  test/end-to-end/pages/startpage/startpage.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testDeceasedAddressKnown.js
  test/unit/testOtherNames.js
Labels: ns:probate-caveats-fe-pr-21

#24 PRO-4153: Start Page content
  app.js
  app/assets/sass/application-common.scss
  app/config.js
  app/resources/en/translation/startpage.json
  app/steps/ui/deceased/otherNames/template.html
  app/steps/ui/startpage/template.html
  app/views/includes/phase_banner_beta.html
  test/component/startpage/index.js
Labels: ns:probate-caveats-fe-pr-24

#25 PRO-4151: Check Your Answers
  app/steps/ui/deceased/otherNames/template.html
  app/steps/ui/summary/includes/about-you.njk
  app/steps/ui/summary/includes/deceased.njk
  app/steps/ui/summary/template.html
Labels: ns:probate-caveats-fe-pr-25

#23 Use ACR cache optimisation in pipeline
  .dockerignore
  Dockerfile
  acb.tpl.yaml
Labels: docker-optimisation, ns:probate-caveats-fe-pr-23

#22 PRO-4175: Thank You
  app/config.js
  app/journeys/probate-caveats.js
  app/resources/en/translation/thankyou.json
  app/steps/ui/endjourney/index.js
  app/steps/ui/endjourney/template.html
  app/steps/ui/thankyou/index.js
  app/steps/ui/thankyou/template.html
  app/utils/FormatCcdCaseId.js
  bin/run-mutation-tests.sh
  test/component/deceased/testOtherNames.js
  test/component/summary/testSummary.js
  test/component/thankyou/testThankYouPage.js
  test/end-to-end/pages/steps.js
  test/end-to-end/pages/thankyou/thankyou.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testEndJourney.js
  test/unit/testThankYouPage.js
Labels: ns:probate-caveats-fe-pr-22

#28 Revert "Use ACR cache optimisation in pipeline"
  .dockerignore
  Dockerfile
  acb.tpl.yaml
Labels: ns:probate-caveats-fe-pr-28

#26 PRO-4525: add pdf download to cya page
  app/components/api-utils.js
  app/components/pdf-services.js
  app/components/security.js
  app/components/services.js
  app/config.js
  app/core/runners/UIStepRunner.js
  app/core/steps/Step.js
  app/documentDownloads.js
  app/middleware/downloadCheckAnswersPdf.js
  app/resources/en/translation/summary.json
  app/routes.js
  app/steps/ui/summary/index.js
  app/steps/ui/summary/template.html
  app/utils/CheckAnswersSummaryJSONObjectBuilder.js
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  package.json
  test/data/checkAnswersSummary.pdf
  test/service-stubs/orchestration.js
  test/unit/testCheckAnswersSummaryJSONObjectBuilder.js
  test/unit/testDownloadCheckAnswersPdf.js
  test/unit/testPdf-services.js
  test/unit/testSecurity.js
  yarn.lock
Labels: ns:probate-caveats-fe-pr-26

#30 Pro 4839 helm charts
  Jenkinsfile_CNP
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/requirements.yaml
  charts/probate-caveats-fe/tests/test-service.yaml
  charts/probate-caveats-fe/values.aat.template.yaml
  charts/probate-caveats-fe/values.template.yaml
Labels: ns:probate-caveats-fe-pr-30

#10 Pro 4247 create sprod env
  infrastructure/sprod.tfvars
Labels: ns:probate-caveats-fe-pr-10

#31 Pro 4857 caveats add secret envs
  Jenkinsfile_CNP
  charts/probate-caveats-fe/values.template.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:probate-caveats-fe-pr-31
