Repository hmcts/probate-caveats-frontend, pull requests merged in 2019-08, with the labels that each got.

#143 update repo
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/requirements.yaml
Labels: ns:probate-caveats-fe-pr-143

#144 update idam-pr
  charts/probate-caveats-fe/values.preview.template.yaml
Labels: ns:probate-caveats-fe-pr-144

#146 update docker repo
  charts/probate-caveats-fe/requirements.yaml
  charts/probate-caveats-fe/values.yaml
Labels: ns:probate-caveats-fe-pr-146

#145 Pro 4763 caveats fees register
  app/components/services.js
  app/config.js
  app/middleware/lookupPaymentFees.js
  app/paymentFees.js
  app/routes.js
  app/steps/ui/payment/breakdown/index.js
  app/utils/FeesLookup.js
  charts/probate-caveats-fe/values.preview.template.yaml
  charts/probate-caveats-fe/values.yaml
  infrastructure/main.tf
  test/accessibility/a11yTest.js
  test/component/payment/testPaymentBreakdown.js
  test/data/unit/paymentfeeslookup-response.json
  test/unit/testFeesLookup.js
  test/unit/testFeesLookupService.js
  test/unit/testLookupPaymentFees.js
  test/unit/testPaymentBreakdown.js
Labels: ns:probate-caveats-fe-pr-145

#149 Add noreferrer to survey links
  app/resources/en/translation/common.json
  app/steps/ui/thankyou/template.html
Labels: ns:probate-caveats-fe-pr-149
