Repository hmcts/probate-caveats-frontend, pull requests merged in 2019-05, with the labels that each got.

#114 Remove console.log()
  test/end-to-end/pages/applicant/name.js
Labels: ns:probate-caveats-fe-pr-114

#117 Redochart
  app/config.js
  app/routes.js
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/requirements.yaml
  charts/probate-caveats-fe/values.aat.template.yaml
  charts/probate-caveats-fe/values.preview.template.yaml
  charts/probate-caveats-fe/values.yaml
Labels: ns:probate-caveats-fe-pr-117

#118 add liveness test
  app.js
  app/config.js
  app/routes.js
  charts/probate-caveats-fe/values.yaml
  test/unit/testLiveness.js
Labels: ns:probate-caveats-fe-pr-118

#112 PRO-5065: update jquery to cheerio
  app/utils/CheckAnswersSummaryJSONObjectBuilder.js
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:probate-caveats-fe-pr-112

#120 Pro4869 new caveat address fields
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  app/components/submit-data.js
  app/config.js
  app/core/steps/AddressStep.js
  app/resources/en/translation/applicant/address.json
  app/resources/en/translation/deceased/address.json
  app/resources/en/translation/thankyou.json
  app/routes.js
  app/steps/ui/applicant/address/schema.json
  app/steps/ui/applicant/address/template.html
  app/steps/ui/deceased/address/schema.json
  app/steps/ui/deceased/address/template.html
  app/steps/ui/summary/includes/about-you.njk
  app/steps/ui/summary/includes/deceased.njk
  app/steps/ui/thankyou/template.html
  app/views/widgets/addresslookup.html
  app/views/widgets/textfields.html
  bin/run-functional-tests.sh
  charts/probate-caveats-fe/values.preview.template.yaml
  package.json
  test/component/applicant/testAddress.js
  test/component/deceased/testAddress.js
  test/component/summary/testAboutYouSection.js
  test/component/summary/testDeceasedSection.js
  test/config.js
  test/data/applicant.json
  test/data/deceased.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/helpers/TestConfigurator.js
  test/end-to-end/pages/applicant/address.js
  test/end-to-end/pages/deceased/address.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testAddressStep.js
  test/unit/testLiveness.js
  test/unit/testSubmitData.js
Labels: ns:probate-caveats-fe-pr-120

#121 PRO-4869: Refactor test config files
  test/end-to-end/codecept.conf.js
Labels: ns:probate-caveats-fe-pr-121

#122 Pro 4869 test updates - update test:functional
  bin/run-functional-tests.sh
Labels: ns:probate-caveats-fe-pr-122

#123 PRO-4869: change if statement in run-functional-tests.sh
  bin/run-functional-tests.sh
Labels: ns:probate-caveats-fe-pr-123

#127 tidy too many postgres.
  charts/probate-caveats-fe/values.preview.template.yaml
  test/end-to-end/paths/standardExecutionPath.js
Labels: ns:probate-caveats-fe-pr-127
