Repository hmcts/probate-caveats-frontend, pull requests merged in 2019-11, with the labels that each got.

#170 PRO-6510: Have content available on error pages
  app.js
Labels: ns:probate-caveats-fe-pr-170

#166 PRO-5862: Static survey links on error pages
  app/steps/ui/deceased/alias/template.html
  app/steps/ui/shutterpage/template.html
  app/views/errors/403.html
  app/views/errors/404.html
  app/views/errors/500.html
Labels: ns:probate-caveats-fe-pr-166

#175 Add api version for helm chart
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate-caveats-fe-pr-175

#180 Added fix for feature toggle pr
  charts/probate-caveats-fe/requirements.yaml
  charts/probate-caveats-fe/values.preview.template.yaml
Labels: ns:probate-caveats-fe-pr-180
