Repository hmcts/probate-caveats-frontend, pull requests merged in 2019-01, with the labels that each got.

#2 Pro 4137 applicant email
  .gitignore
  app/journeys/probate-caveats.js
  app/resources/en/translation/applicant/email.json
  app/steps/ui/applicant/email/index.js
  app/steps/ui/applicant/email/schema.json
  app/steps/ui/applicant/email/template.html
  test/component/applicant/testApplicantEmail.js
  test/component/applicant/testApplicantName.js
  test/end-to-end/pages/applicant/email.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testApplicantEmail.js
Labels: ns:probate-caveats-fe-pr-2

#3 Pro 4146 applicant address
  app/config.js
  app/journeys/probate-caveats.js
  app/resources/en/translation/applicant/address.json
  app/routes.js
  app/steps/ui/applicant/address/index.js
  app/steps/ui/applicant/address/schema.json
  app/steps/ui/applicant/address/template.html
  test/accessibility/a11yTest.js
  test/component/applicant/testAddress.js
  test/component/applicant/testApplicantEmail.js
  test/end-to-end/pages/applicant/address.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testAddressLookup.js
  test/unit/testAddressLookupService.js
  test/unit/testAddressStep.js
  test/unit/testApplicantAddress.js
Labels: ns:probate-caveats-fe-pr-3

#4 PRO-4147: deceased name plus tests
  app/journeys/probate-caveats.js
  app/resources/en/translation/deceased/name.json
  app/steps/ui/deceased/name/index.js
  app/steps/ui/deceased/name/schema.json
  app/steps/ui/deceased/name/template.html
  test/component/applicant/testAddress.js
  test/component/deceased/testName.js
  test/end-to-end/pages/deceased/name.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testDeceasedName.js
Labels: ns:probate-caveats-fe-pr-4

#5 Pro 4149 deceased date of death
  app/journeys/probate-caveats.js
  app/resources/en/translation/deceased/dod.json
  app/steps/ui/deceased/dod/index.js
  app/steps/ui/deceased/dod/schema.json
  app/steps/ui/deceased/dod/template.html
  test/component/deceased/testDoD.js
  test/component/deceased/testName.js
  test/end-to-end/pages/deceased/dod.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testDeceasedDod.js
Labels: ns:probate-caveats-fe-pr-5

#11 PRO-4150: Deceased DoB
  app/journeys/probate-caveats.js
  app/resources/en/translation/deceased/dob.json
  app/resources/en/translation/deceased/dobknown.json
  app/steps/ui/deceased/dob/index.js
  app/steps/ui/deceased/dob/schema.json
  app/steps/ui/deceased/dob/template.html
  app/steps/ui/deceased/dobknown/index.js
  app/steps/ui/deceased/dobknown/schema.json
  app/steps/ui/deceased/dobknown/template.html
  app/wrappers/Deceased.js
  test/component/deceased/testDoB.js
  test/component/deceased/testDoD.js
  test/component/deceased/testDoDKnown.js
  test/end-to-end/pages/deceased/dob.js
  test/end-to-end/pages/deceased/dobknown.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testDeceasedDob.js
  test/unit/testDeceasedDobKnown.js
Labels: ns:probate-caveats-fe-pr-11

#8 Pro 4246 create saat
  infrastructure/saat.tfvars
Labels: ns:probate-caveats-fe-pr-8

#9 Pro 4245 create aat env
  infrastructure/aat.tfvars
Labels: ns:probate-caveats-fe-pr-9

#13 PRO-4174: Deceased Alias
  app/journeys/probate-caveats.js
  app/resources/en/translation/addAlias.json
  app/resources/en/translation/deceased/alias.json
  app/resources/en/translation/deceased/otherNames.json
  app/resources/en/translation/removeAlias.json
  app/steps/action/addAlias/index.js
  app/steps/action/addAlias/schema.json
  app/steps/action/removeAlias/index.js
  app/steps/action/removeAlias/schema.json
  app/steps/ui/deceased/alias/index.js
  app/steps/ui/deceased/alias/schema.json
  app/steps/ui/deceased/alias/template.html
  app/steps/ui/deceased/dob/template.html
  app/steps/ui/deceased/otherNames/index.js
  app/steps/ui/deceased/otherNames/schema.json
  app/steps/ui/deceased/otherNames/template.html
  test/component/deceased/testAlias.js
  test/component/deceased/testDoDKnown.js
  test/component/deceased/testOtherNames.js
  test/end-to-end/pages/deceased/alias.js
  test/end-to-end/pages/deceased/otherNames.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testAddAlias.js
  test/unit/testDeceasedAlias.js
  test/unit/testOtherNames.js
  test/unit/testRemoveAlias.js
Labels: ns:probate-caveats-fe-pr-13

#15 PRO-4148: Deceased Address
  app/journeys/probate-caveats.js
  app/resources/en/translation/deceased/address.json
  app/resources/en/translation/deceased/addressknown.json
  app/steps/ui/deceased/address/index.js
  app/steps/ui/deceased/address/schema.json
  app/steps/ui/deceased/address/template.html
  app/steps/ui/deceased/addressknown/index.js
  app/steps/ui/deceased/addressknown/schema.json
  app/steps/ui/deceased/addressknown/template.html
  test/component/deceased/testAddress.js
  test/component/deceased/testAddressKnown.js
  test/component/deceased/testAlias.js
  test/component/deceased/testOtherNames.js
  test/end-to-end/pages/deceased/address.js
  test/end-to-end/pages/deceased/addressknown.js
  test/end-to-end/pages/steps.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testDeceasedAddress.js
  test/unit/testDeceasedAddressKnown.js
Labels: ns:probate-caveats-fe-pr-15

#12 cnp1103-Add Dockerfile optimisations
  Dockerfile
Labels: ns:probate-caveats-fe-pr-12

#6 PRO-4248 - Caveats create demo env
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  package.json
  sonar-project.properties
Labels: ns:probate-caveats-fe-pr-6

#17 PRO-4151: Check your answers
  app/assets/sass/application-common.scss
  app/core/runners/OptionGetRunner.js
  app/journeys/probate-caveats.js
  app/resources/en/translation/deceased/alias.json
  app/resources/en/translation/deceased/otherNames.json
  app/resources/en/translation/summary.json
  app/steps/ui/summary/includes/about-you.njk
  app/steps/ui/summary/includes/deceased.njk
  app/steps/ui/summary/index.js
  app/steps/ui/summary/template.html
  app/views/includes/two_thirds_form.html
  app/views/widgets/checkanswer.html
  test/accessibility/a11yTest.js
  test/component/deceased/testAddress.js
  test/component/deceased/testAddressKnown.js
  test/component/deceased/testDoB.js
  test/component/summary/testAboutYouSection.js
  test/component/summary/testDeceasedSection.js
  test/component/summary/testSummary.js
  test/data/applicant.json
  test/data/deceased.json
  test/end-to-end/pages/steps.js
  test/end-to-end/pages/summary/summary.js
  test/end-to-end/paths/standardExecutionPath.js
  test/unit/testSummary.js
  yarn.lock
Labels: ns:probate-caveats-fe-pr-17

#18 PRO-4137: change to email validation screen and content
  app/resources/en/translation/applicant/email.json
  app/steps/ui/applicant/email/template.html
  yarn.list
Labels: ns:probate-caveats-fe-pr-18

#20 PRO-4174: update the validation msg for first and last name
  app/resources/en/translation/deceased/otherNames.json
Labels: ns:probate-caveats-fe-pr-20

#19 PRO-4147: update the validation msg for first and last name
  app/resources/en/translation/deceased/name.json
Labels: ns:probate-caveats-fe-pr-19
