Repository hmcts/probate-caveats-frontend, pull requests merged in 2020-08, with the labels that each got.

#283 Pro 7681 - caveat fee changes
  app/steps/ui/applicant/address/template.html
  app/steps/ui/deceased/address/template.html
  app/views/widgets/addresslookup.html
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.yaml
  config/default.yaml
  package.json
  test/component/payment/testPaymentBreakdown.js
  test/data/unit/fullcaveatform.json
  test/data/unit/minimalcaveatform.json
  test/unit/components/testSubmitData.js
  test/unit/middleware/testLookupPaymentFees.js
  test/unit/testFeesLookup.js
  test/util/a11y.js
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-283

#288 PRO-7681 reverting chart version and orch url
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-288

#291 PRO-7880: remove installCharts
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-291

#292 PRO-7880: fix build again for fee code
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-292

#293 Pro 7211 nvda compatibility
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-293

#296 Pro 7067 use fees lookup for payments
  app/components/payment-data.js
  app/setupSecrets.js
  app/steps/ui/payment/breakdown/index.js
  app/utils/FeesLookup.js
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.preview.template.yaml
  charts/probate-caveats-fe/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  test/component/payment/testPaymentBreakdown.js
  test/unit/components/testPaymentData.js
  test/unit/testFeesLookup.js
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-296
