Repository hmcts/probate-caveats-frontend, pull requests merged in 2020-06, with the labels that each got.

#272 adding data layer tag
  app/views/includes/error_summary.html
  app/views/includes/scripts_ga_1.html
Labels: ns:probate, rel:probate-caveats-fe-pr-272

#274 Hide webchat on Welsh
  app/core/steps/Step.js
  app/views/includes/help_details.html
  app/views/includes/scripts.html
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/requirements.yaml
Labels: ns:probate, rel:probate-caveats-fe-pr-274

#280 PCQ-273: Chart changes
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-280

#279 PCQ-273: Authorisation of invoking services
  app/middleware/completeEqualityTask.js
  app/setupSecrets.js
  app/steps/ui/equality/createToken.js
  app/steps/ui/equality/index.js
  config/custom-environment-variables.yaml
  config/default.yaml
  test/unit/middleware/testCompleteEqualityTask.js
  test/unit/testEquality.js
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-279
