Repository hmcts/probate-caveats-frontend, pull requests merged in 2021-08, with the labels that each got.

#408 DTSPB-2284 - Upgrade launchdarkly-node-server-sdk
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-408

#402 DTSPB-1699: adding cookie bannerr for caveats
  app/assets/javascripts/cookie-banner.js
  app/assets/javascripts/cookie-manager.js
  app/assets/javascripts/cookie.js
  app/assets/sass/application-ie8.scss
  app/assets/sass/application.scss
  app/assets/sass/patterns/_cookie-bar.scss
  app/core/runners/UIStepRunner.js
  app/resources/cy/translation/common.json
  app/resources/cy/translation/static/cookies.json
  app/resources/en/translation/common.json
  app/resources/en/translation/static/cookies.json
  app/steps/ui/static/cookies/index.js
  app/steps/ui/static/cookies/template.html
  app/views/includes/cookie-banner.html
  app/views/includes/error_summary.html
  app/views/includes/layout.html
  app/views/includes/scripts.html
  app/views/includes/scripts_ga_1.html
  charts/probate-caveats-fe/Chart.yaml
  package.json
  test/component/static/testCookies.js
  test/component/testCookieBanner.js
  test/end-to-end/helpers/JSWait.js
  test/end-to-end/pages/startapply/startapply.js
  test/unit/testCookies.js
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-402

#410 DTSPB-2280 - SSL protocol Fortify fix
  app.js
  test/java/config/fortify-client.properties
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-410

#412 Dtspb 1979 and dtspb 2055 avaya webchat
  app.js
  app/assets/javascripts/avaya-webchat-1.js
  app/resources/cy/translation/common.json
  app/resources/en/translation/common.json
  app/setupSecrets.js
  app/steps/ui/static/avaya-webchat/template.html
  app/steps/ui/static/contact/template.html
  app/views/includes/avaya-webchat.html
  app/views/includes/help_details.html
  app/views/includes/scripts.html
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.preview.template.yaml
  charts/probate-caveats-fe/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  test/component/common/testCommonContent.js
  test/util/a11y.js
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-412
