Repository hmcts/probate-caveats-frontend, pull requests merged in 2022-07, with the labels that each got.

#529 Copy PR https://github.com/hmcts/probate-frontend/pull/1679/
  charts/probate-caveats-fe/Chart.yaml
  charts/probate-caveats-fe/values.preview.template.yaml
  charts/probate-caveats-fe/values.yaml
Labels: ns:probate, prd:probate, nightly, rel:probate-caveats-fe-pr-529

#531 DTSPB-2914 supress warnings
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-531

#530 DTSPB-2912 updates
  .nvmrc
  Dockerfile
  charts/probate-caveats-fe/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-caveats-fe-pr-530

#535 DTSPB-2912: suppress sonar
  package.json
  sonar-project.properties
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-535

#536 Dtspb 2912 reapply updates
  Dockerfile
  charts/probate-caveats-fe/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-536

#539 DTSPB-2949 update file-type
  charts/probate-caveats-fe/Chart.yaml
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-539

#538 DTSPB-2943 - upgarde node js
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-538

#540 DTSPB-2948 increase health timeout
  config/default.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-540

#518 DTSPB-2775 center closed
  app/resources/en/translation/common.json
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-518
