Repository hmcts/probate-caveats-frontend, pull requests merged in 2023-01, with the labels that each got.

#562 DTSPB-3261 CVE suppression
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-562

#564 DTSPB-3261
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-564

#565 Update nodejs chart
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-565

#567 Fix failing chart
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-567

#568 Update Chart.yaml
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-568

#569 Update Chart.yaml
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-569

#571 DTSPB-3295: cannot upgrade healthcheck. supressed further
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-571

#573 New chart released for DNS update in Demo
  charts/probate-caveats-fe/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-caveats-fe-pr-573

#576 CVE fix
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-caveats-fe-pr-576
